<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">

<head>
	<title>Customer Login</title>
	
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/demo.css}" />
</head>

<body>

	<div class="container">

	<h3>Customer Login</h3>
	<hr>
	
	<form action="#" th:action="@{/customer/checkOTP}" th:object="${theCustomer}" method="POST">
	
		<input type="text" th:field="*{mobNo}" placeholder="Enter Mobile Number" class="form-control mb-4 col-4" />
		
		<button type="submit" class="btn btn-info col-2" >Login</button>
	</form>
	<hr>
	<a href="/home">Back To Home Page</a>
	</div>
</body>

</html>